/* Корзина товаров: */
.cartWrapBlock {
    position: absolute;
    top: 0;
    right: 5rem;
    z-index: 99999;
}

.cartWrap {
    position: fixed;
    bottom: 3.5rem;
    display: flex;
    justify-content: flex-end;
    padding: 0px 5px;
    cursor: pointer;
}

.cart {
	width: 60px;
	height: 60px;
	background: #d9c518;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 5px;
	padding: 2px;
	box-sizing: content-box;
}

.cartIcon {
	height: 37px;
	width: 37px;
	display: block;
	background-color: #d9c518;
}


.alertBanner {
	position: absolute;
	z-index: 100;
	/* top: 15px; */
	right: 67px;
	background-color: antiquewhite;
	width: 221px;
	height: 64px;
	border-radius: 5px 0px 0px 5px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease-in-out;
    pointer-events: none;
	&.show {
        opacity: 0.9;
        visibility: visible;
	}
}

.alertBannerText {
	padding-left: 6px;
}