.footer {
	margin: 0;
}

.footerProp {
	min-height: 3.438rem;
	display: flex;
	align-items: center;
	background-color: #000000;
	transition: all 1.2s ease-out;
	height: 6.5rem;
}

.footerCols {
	display: flex;
	justify-content: space-between;
	padding-top: 1.4rem;
}

.copyright {
	display: flex;
	flex-direction: column;
}

.copyrightUpText,
.copyrightBottomText {
	color: #ffffff;
	display: flex;
	align-items: center;
	margin: 0;
}

.linkContactsGh {
	width: 1.563rem;
}
