.cards {
	max-width: 14.8rem;
	border-radius: 0.625rem;
	padding-top: 0.938rem;
	padding-bottom: 0.938rem;
}

.card {
	filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
	background-color: #b0e0e6;
}

.cardInfo {
	display: flex;
	font-size: 0.8rem;
	font-weight: bold;
	color: #8a2be2;
}

.cardInfo:last-child {
	margin-bottom: 0rem;
}

.sale {
	color: #ff0000;
	font-size: 1.063rem;
}

.cardImgTop {
	background: #858177;
	filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}

.cardPrice:last-child {
	margin-bottom: 0rem;
}

.cardTitle,
.cardDescription,
.btnCard,
.cardInfo {
	margin-bottom: 1rem;
	filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}

.cardDescription {
	font-size: 0.95rem;
}

.cardTitle {
	font-size: 1.125rem;
	font-weight: bold;
}

.btnCard {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #b22222;
	border: none;
	transition: all 0.3s;
}

.btnCard:hover {
	background-color: #ff6347;
	scale: 1.01;
}
