.headerProp {
	background-color: #000000;
	transition: all 1.2s ease-out;
}

.header {
	margin: 0;
}

.leftHeaderColumn {
	display: flex;
	align-items: center;
}

.logoImage {
	width: 3.75rem;
	height: 3.75rem;
	padding: 0.625rem 0rem;
	box-sizing: content-box;
}

.navColumn {
	padding-top: 1.7rem;
	display: flex;
	justify-content: flex-end;
	position: relative;
}

.navContainer {
	display: flex;
	justify-content: flex-end;
}

.navContainerLinkWrap {
	margin-right: 0.938rem;
}

.navContainerLinkWrap:last-child {
	margin-right: 0rem;
}

.navContainerLink {
	color: #ffffff;
	font-size: 1rem;
	font-weight: 500;
}

.navContainerLink:hover {
	color: #b22222;
}
