.navContainer {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	padding: 1rem 0rem;
	position: relative;
	right: 0;
	align-items: flex-end;
}

.navContainerLinkWrap {
	padding: 0.3rem;
}

.navContainerLinkWrap:last-child {
	margin-right: 0rem;
}

.navContainerLink {
	color: #ffffff;
	font-size: 1rem;
	font-weight: 500;
}

.nav-container__link:hover {
	color: #ff0000;
}
