	/* .menu {
		position: absolute;
		top: calc(100% + 8px);
		right: 0;
		background-color: #fff;
		padding: 10px 12px;
		font-size: 16px;
		box-shadow: $bx-16;
		border-radius: 10px 0 10px 10px;
		min-width: 116px;
		display: none;
		animation: opacity 0.4s;

		&.show {
			display: block;
		}

		> ul {
			list-style: none;

			button {
				font-size: 16px;
			}

			a {
				color: #000;
				text-decoration: none;
				transition: color 0.2s ease;

				&:hover,
				&.active {
					color: $accent;
					margin: 4px 0;
				}
			}
		}
	} */


.navContainer {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1rem 0rem;
    position: relative;
    right: 0;
    align-items: flex-end;
}

.navContainerLinkWrap {
    padding: .3rem;
}

.navContainerLinkWrap:last-child {
	margin-right: 0px;
}

.navContainerLink {
	color: #ffffff;
	font-size: 1rem;
	font-weight: 500;
}

.nav-container__link:hover {
	color: red;
}