*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
	margin: 0;
}

img {
	vertical-align: top;
}

p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	height: 100%;
	line-height: 1;
	color: #000;
}

/* Контейнеры: */
.content-app {
	min-height: calc(100vh - 40px - 80px);
}

.header-prop,
.footer-prop {
	background-color: #000000;
}

.main-prop {
	background-color: #4682b4;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	border: 1px solid #000000;
}
/* //////////////////// */

/* Прелоадер: */
.preloader-prop {
	flex-direction: column;
	justify-content: center;
}

.preloader-prop__text {
	margin-bottom: 1.2rem;
}
/* //////////////////// */

/* Header: */
.logo-image {
	width: 60px;
	height: 60px;
	padding: 10px 0px;
	box-sizing: content-box;
}

.left-header-column {
	display: flex;
}

.nav-column {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.nav-container {
	display: flex;
	justify-content: flex-end;
}

.nav-container__link-wrap {
	margin-right: 15px;
}

.nav-container__link-wrap:last-child {
	margin-right: 0px;
}

.nav-container__link {
	color: #ffffff;
	font-size: 1rem;
	font-weight: 500;
}

.nav-container__link:hover {
	color: red;
}
/* //////////////////// */

/* Корзина товаров: */
.cart-wrap {
	position: sticky;
	top: 0;
	z-index: 999;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding: 15px 5px 0px 5px;
	cursor: pointer;
}

.cart {
	width: 60px;
	height: 60px;
	background: red;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 5px;
	padding: 2px;
	box-sizing: content-box;
}

.cart-icon {
	height: 37px;
	width: 37px;
	display: block;
	background-color: red;
}
/* //////////////////// */

/* Карточки товаров: */
.row {
	width: 100%;
	display: flex;
	justify-content: center;
}

.cards {
	max-width: 315px;
	border-radius: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.card {
	max-width: 315px;
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.card-info {
	display: flex;
	font-weight: bold;
	color: blueviolet;
}

.sale {
	color: red;
	font-size: 17px;
}

.card-img-top {
	background: turquoise;
}

.card-price:last-child {
	margin-bottom: 0rem;
}

.card-title,
.card-description,
.btn-primary,
.card-info {
	margin-bottom: 1rem;
}

.card-title {
	font-size: 18px;
	font-weight: bold;
}

.btn-primary {
	display: flex;
	justify-content: center;
	background-color: firebrick;
	border: none;
	transition: all 0.3s;
}

.btn-primary:hover {
	background-color: tomato;
	scale: 1.01;
}

.card-info:last-child {
	margin-bottom: 0rem;
}
/* //////////////////// */

/* Footer: */
.copyright {
	color: white;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 5px;
}

.copyright-image {
	width: 25px;
}
/* //////////////////// */

.basket {
	width: 50rem;
	max-width: 95%;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	padding: 0;
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.basket__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0rem 1rem;
	height: 3rem;
	font-size: 1.2rem;
	font-weight: 700;
	background: teal;
	margin: 0;
}

.basket__item-block {
	font-size: 1.1rem;
	padding: 1rem;
	display: flex;
	align-items: center;
	background-color: beige;
	justify-content: space-between;
}

.basket__item-prop {
	display: flex;
}

.basket__name-item {
	margin: 0;
	width: 20rem;
}

.basket__symbol {
	font-size: 25px;
	font-weight: bold;
	color: tomato;
	padding: 0rem 1rem;
	cursor: pointer;
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.basket__symbol-close {
	color: tomato;
	cursor: pointer;
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.basket__total {
	display: flex;
	align-items: center;
	padding: 0rem 1rem;
	height: 3rem;
	font-size: 1.2rem;
	font-weight: bold;
	color: darkorange;
	background: teal;
}

.basket__button-buy {
  width: 75px;
  height: 35px;
  font-weight: 700;
  background-color: skyblue;
  position: absolute;
  bottom: 6px;
  right: 16px;
  border-radius: 10px;

}

.active {
	filter: grayscale(1);
	pointer-events: none;
}

