@media (min-width: 576px) {
	.basketMedia {
		max-width: 32rem !important;
	}

	.basketItemWrap {
		font-size: 1.1rem !important;
	}

	.basketNameItem {
		margin: 0 !important;
		width: 20rem !important;
	}

	.basketQuantityBtnWrap {
		flex-direction: row !important;
	}

	.pageControlBtn {
		width: 8rem !important;
	}
}

@media (min-width: 768px) {
	.basketMedia {
		max-width: 42rem !important;
	}
}

@media (min-width: 992px) {
	.basketMedia {
		max-width: 55rem !important;
	}

	.nav-mobile {
		visibility: hidden;
		display: none;
	}

	.nav-desktop {
		visibility: visible;
		display: flex;
	}

	.pageControlBtn {
		width: 1.875rem;
	}
}
